th {
    height: 80px;
    width: 100px;
}

th,
td {
    border: 1px solid black;
    background-color: pink;
}

#param4 {
    width: 2px;
    height: 8px;
}

#param5 {
    width: 5px;
    height: 5px;
}

button {
    background-color: aqua;
    margin-left: 25px;
    margin-right: 25px;
}