h1,
h2 {
    text-align: center;
}

h2 {
    padding-top: 10px;
}

header {
    width: 90%;
    background-color: palevioletred;
    margin-left: 5%;
    margin-right: 5%;
    height: 15%;
    border-radius: 0 0 15px 15px;
}

menu {
    position: fixed;
    width: 10%;
    height: 600px;
    background: rgba(76, 175, 80, 0.3);
}

.centralText {
    margin-right: 5%;
    margin-left: 2%;
}

.centralText p {
    padding-left: 180px;
}

.centralText ol {
    padding-left: 195px;
}

footer {
    width: 90%;
    background-color: palevioletred;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 16%;
    height: 15%;
    border-radius: 15px 15px 0 0;
}

footer p {
    text-align: center;
    padding-top: 5px;
}